@keyframes drawer-background-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes drawer-background-close {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.drawer-background-open {
  opacity: 100;
  animation: drawer-background-open 150ms;
}

.drawer-background-close {
  opacity: 0;
  animation: drawer-background-close 150ms;
}

@keyframes drawer-open {
  from {
    transform: translate(-100%, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes drawer-close {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-100%, 0px);
  }
}

.drawer-open {
  transform: translate(0px, 0px);
  animation: drawer-open 150ms;
}

.drawer-close {
  transform: translate(-100%, 0px);
  animation: drawer-close 150ms;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.ripple {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background-color: #fff;
  animation: 0.75s ripple;
}
